<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="signup.css" />
    <title>Group Chat | Sign Up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" />
  </head>
  <body>
    <div class="container">
      <h1>Welcome</h1>
      <p>In order to sign up, please fill all fields below</p>
      <form onsubmit="handlerFormSubmit(event)">
        <div class="inputContainer">
          <input type="text" name="name" id="name" placeholder="Name" required/>
          <input type="email" name="email" id="email" placeholder="E-mail" required/>
          <input type="tel" name="phone" id="phone" placeholder="10-digit phone" required/>
          <input type="password" name="password" id="password" placeholder="Password" required/>
          <button class="signUpBtn" type="submit">Get started</button>
          <span>
            already have an account?
            <a href="/views/login.html">Login</a>
          </span>
        </div>
      </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      async function handlerFormSubmit(e) {
        e.preventDefault();

        const form = new FormData(e.target);
        const signUpDetails = {
          name: form.get("name"),
          email: form.get("email"),
          phone: form.get("phone"),
          password: form.get("password"),
        };

        try {
          if (
            signUpDetails.name == "" ||
            signUpDetails.email == "" ||
            signUpDetails.phone == "" ||
            signUpDetails.password == ""
          ) {
            Swal.fire({
              toast: true,
              position: "top-end",
              icon: "error",
              text: "Please fill all the fields",
              showConfirmButton: false,
              timer: 2000,
              timerProgressBar: true,
            });
            return;
          }

          await axios.post("http://localhost:3000/api/signup", signUpDetails);

          Swal.fire({
            toast: true,
            position: "top-end",
            icon: "success",
            text: "Account created successfully",
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: true,
          });

          // Redirect to Login Page
          window.location.href = "/views/login.html";
        } catch (err) {
          console.log("Error:", err.message);
          if (err.response && err.response.status == 422) {
            Swal.fire({
              toast: true,
              position: "top-end",
              icon: "error",
              text: "Email already exists",
              showConfirmButton: false,
              timer: 2000,
              timerProgressBar: true,
            });
          } else {
            Swal.fire({
              toast: true,
              position: "top-end",
              icon: "error",
              text: "An error occurred. Please try again later.",
              showConfirmButton: false,
              timer: 2000,
              timerProgressBar: true,
            });
          }
        }

        // clear form fields
        document.getElementById("name").value = "";
        document.getElementById("email").value = "";
        document.getElementById("password").value = "";
        document.getElementById("phone").value = "";
      }
    </script>
  </body>
</html>
